<div class='center jumbotron shadow'>
  <article>
    <h3>
    All Groups:
    </h3>
    <ul >
      <% @groups.each do |group| %>
      <li>
        <%= group.name %>
      </li>
    <% end %>
    </ul>
  </article>
</div>

<div class='action'>
  <%= link_to 'Create a new Group', new_group_path, :class => 'btn btn-primary btn-lg' %> 
</div>
