<h1 class="text-center mt-4">Welcome</h1>

<div class="jumbotron center shadow-lg bg-white rounded">
    <article class='center p-2 mb-3 mx-2 transition shadow'>
      <%= link_to 'All  my transactions', transactions_path(view: true)%>
    </article>
    <div class='center p-2 mb-3 mx-2 transition shadow'>
      <%= link_to 'All my external transactions', transactions_path %>
    </div>
    
    <div class='center p-2 mb-3 mx-2 transition shadow'> 
      <%= link_to "All Groups", groups_path %>
    </div>
</div>



