$primary-color-dark: #689f38;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$divider-color: #bdbdbd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    background: #fff;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

.navbar {
    background-color: $primary-color-dark !important;
}
  
.nav-link {
  color: white !important;
}
  
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

.btn-primary {
  width: 100%;
}

form {
  width: 80%;
  margin: 8px auto;
    
  .field {
    width: 100%;
    padding: 8px 0;
  
    label {
      margin-bottom: 8px;
    }
  
    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }
  
    }
}

.jumbotron {
    margin: 50px;
}

#sticky-footer {
  flex-shrink: none;
}