<div class='center jumbotron shadow'>
  <article>
  <h3>
   All Transactions:
  </h3>
  <ul >
    <% @transactions.each do |t| %>
    <li>
      <%= t.name %>
    </li>
  <% end %>
  </ul>
</article>
</div>


