<footer  class="pt-3 bg-dark text-white fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; All rights reserved - by LamiaSristy <%= link_to "Expanzee", "#", class: "text-white" %></small>
    <ul class="list-unstyled">
       <li>
         <i class="fab fa-facebook-square"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram "></i>
           <i class="fab fa-tumblr "></i>
           <i class="fab fa-linkedin-in "></i>
       </li>
    </ul> 
  </div>                
</footer>
